* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Times New Roman", Times, serif;
}

* a {
    text-decoration: none;
}


.book .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.s {
    margin: 2rem 2rem 0 2rem;
    z-index: 2;
}

main h1 {
    font-style: bold;
    font-size: 35px;

}



.line {
    display: flex;
    justify-content: center;
}
.ctn {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 100%;
}


.book {
   border-radius: 4px;
    transform: scale(1.0);
    overflow: visible;
    width: 290px;
    height: 32rem;
    margin: 4rem 2rem 4rem 2rem;
    box-shadow:none;
    transition:  transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; 
}


.img {
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
    height: 410px;
    margin-bottom: 20px;

}



.name {
   
    font-weight: normal;
    margin: 5px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
    text-align: center;
    height: 16%;
}

.author {
    width: 270px;
    
    font-weight: lighter;
}

.name h3 {
    color: black;
}

.book:hover{
  transform: scale(1.05);
    box-shadow: 2px 2px 1px lightgray;
    transition:  transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; 
}

